*~
/debian/debhelper-build-stamp
/debian/files
/debian/tmp/
/debian/unburden-home-dir*.debhelper.log
/debian/unburden-home-dir*.substvars
/debian/unburden-home-dir*/
/cover_db/
/html/
/README
/unburden-home-dir.1
