language: perl
perl:
  - "5.22"
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
  - "dev"

env:
  - COVERAGE=1

sudo: false
before_install:
   - eval $(curl https://travis-perl.github.io/init) --auto

notifications:
  irc: "irc.lugs.ch#kivamon"
